@model Whatfits.Models.Claim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Claim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Credential.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credential.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimsType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimsType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClaimsValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClaimsValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClaimID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
